<h5 class="card-title"><%=@email.object%></h5>
<p class="card-text"><%=@email.body%></p>

<%= link_to '<button class="btn btn-outline-danger m-3"> Supprimer</button>' .html_safe, email_path(email.id), data: {:confirm => "Are you sure to delete this email?"}, method: 'DELETE', remote: true  %>

<%= link_to '<button class="btn btn-outline-primary m-3"> Marquer comme non-lu</button>' .html_safe, email_path(email.id), method: 'PATCH', remote: true  %>